<% provide(:title, 'About Us') %>
<div style="padding-top:60px; margin: auto; width: 800px;">
<h1>About Us</h1>
<p>
  Welcome to Donut Map!
</p>
<p>
  Check out the <%= link_to 'source code', 'https://github.com/pjfamig/donut-map' %> on GitHub.
</p>
</div>