<div class="row">

	<div class="col-md-3 sidebar">
		<ul>
			<li><a href=""><h3>Stan's Donuts</h3></a></li>
			<li><a href=""><h3>Donut King</h3></a></li>
			<li><a href=""><h3>King Pin Donuts</h3></a></li>
		</ul>
	</div>

	<div class="col-md-9 col-md-offset-3 main">
		<div id="map_canvas" style='height: 100%;'></div>

		<%= content_tag "div", id: "locations", data: {locations: Location.all} do %>
		<% end %>
		<script>
		var allLocations = $('#locations').data('locations');
		//load gmaps on pageload
		google.maps.event.addDomListener(window, 'load', initialize); 
		</script>
	</div>
	
</div>